.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal__content {
    position: relative;
    background-color: var(--gray-900);
    border-radius: 0.8rem;
    padding: 3.6rem 2.4rem 1.2rem 2.4rem;
    width: fit-content;
}

.Modal___left {
    justify-content: start;
}
.Modal___right {
    justify-content: end;
}

.Modal__close {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
}

.Modal___fadeIn {
    animation: fadeIn 0.3s ease-in-out;
}

.Modal___fadeOut {
    animation: fadeOut 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
