.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal__content {
    position: relative;
    width: fit-content;
}

.Modal___left {
    justify-content: start;
}
.Modal___right {
    justify-content: end;
}

.Modal__close {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
}

.Modal___fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.Modal___fadeOut {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* animate modal button */

.AnimateHamburgerButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.AnimateHamburgerButton__hambug {
    width: 2rem;
    height: 0.4rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}

.AnimateHamburgerButton__hambug::before,
.AnimateHamburgerButton__hambug::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 0.4rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
}

.AnimateHamburgerButton__hambug::before {
    transform: translateY(-1rem);
}

.AnimateHamburgerButton__hambug::after {
    transform: translateY(1rem);
}

.AnimateHamburgerButton__hambug___active {
    transform: translateX(-5rem);
    background: transparent;
    box-shadow: none;
}

.AnimateHamburgerButton__hambug___active:before {
    transform: rotate(45deg) translate(35px, -35px);
    background: var(--primary-color);
}
.AnimateHamburgerButton__hambug___active:after {
    transform: rotate(-45deg) translate(35px, 35px);
    background: var(--primary-color);
}
