@import './reset.css';

:root {
    --purple-900: #4a1d96;
    --purple-800: #552185;
    --purple-700: #6c2bd9;
    --purple-600: #7e3af2;
    --purple-500: #9061f9;
    --purple-400: #ac94fa;
    --purple-300: #cabffd;
    --purple-200: #dcd7fe;
    --purple-100: #edebfe;

    --gray-900: #171725;
    --gray-800: #44444f;
    --gray-700: #696974;
    --gray-600: #92929d;
    --gray-500: #b5b5be;
    --gray-400: #d5d5dc;
    --gray-300: #e2e2ea;
    --gray-200: #f1f1f5;
    --gray-100: #f3f4f6;

    --blue-900: #233876;
    --blue-800: #1e429f;
    --blue-700: #1a56db;
    --blue-600: #1c64f2;
    --blue-500: #3f83f8;
    --blue-400: #76a9fa;
    --blue-300: #a4cafe;
    --blue-200: #c3ddfd;
    --blue-100: #e1effe;

    --primary-color: #9751b6;
    --border-color: var(--gray-300);
    --dark-color: var(--gray-800);
    --background-color: #130c29;
}

html {
    font-size: 62.5%;
}

#next {
    background-color: var(--background-color);
}

* {
    box-sizing: border-box;
}
