.Header {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.6);
    height: 6.3rem;
}

.Header__Title {
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: capitalize;
}

.Header__Sign {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.Header__Sign button {
    transition: color 0.3s ease-in-out;
}
.Header__Sign button:hover {
    color: var(--primary-color);
}
