.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    background-color: var(--background-color);
    height: 6.3rem;
}

.Header__Title {
    text-align: center;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.Header__Sign {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.Header__Sign button {
    transition: color 0.3s ease-in-out;
}
.Header__Sign button:hover {
    color: var(--primary-color);
}
