.Button {
    background-color: var(--primary-color);
    border-radius: 0.8rem;
    color: #fff;
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Button__large {
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;
}

.Button__mideum {
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

.Button__small {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
}

.Button__primary {
    background-color: var(--primary-color);
}
