.Button {
    border-radius: 0.8rem;
    color: #fff;
    cursor: pointer;
    width: fit-content;
}

.Button__fullWidth {
    width: 100%;
    padding: 1.2rem 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.Button__large {
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;
}

.Button__medium {
    padding: 1rem 2rem;
    font-size: 1.2rem;
}

.Button__small {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
}

.Button__contained {
    background-color: var(--primary-color);
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Button__outlined {
    box-shadow:
        rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.Button__text {
    padding: 0;
}

.Button__contained___primary {
    background-color: var(--primary-color);
}

.Button__outlined___primary {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.Button__text___primary {
    background-color: transparent;
    color: var(--primary-color);
}
