.Table {
    width: 100%;
    border: 1px solid var(--gray-500);
    border-radius: 0.8rem;
    overflow: auto;
}

.Table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.Table__header {
    background-color: var(--gray-700);
}

.Table__header tr {
    border-bottom: 1px solid var(--gray-500);
    color: var(--gray-700);
}

.Table__header th {
    font-size: 1.6rem;
    padding: 1.2rem;
    border: 1px solid #fff;
}

.Table__body td {
    font-size: 1.4rem;
    border: 1px solid #fff;
}

.Pagination {
    display: flex;
    gap: 0.4rem;
    justify-content: end;
    margin-top: 1.2rem;
}

.Pagination__icon {
    font-size: 2.4rem;
}
.Pagination__pageInfo {
    font-size: 2rem;
}
